# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

# Ignorar el archivo index.html en la carpeta QR-CODE-COMPONENT-MAN
QR-CODE-COMPONENT-MAN/index.html

# Ignorar el archivo README-template.md en la carpeta QR-CODE-COMPONENT-MAN
QR-CODE-COMPONENT-MAN/README-template.md

# Ignorar el archivo README.md en la carpeta QR-CODE-COMPONENT-MAN
QR-CODE-COMPONENT-MAN/README.md
